{
	"name": "{{slug}}/rich-text-block-with-deprecated",
	"title": "Rich Text Block with Deprecated",
	"category": "{{slug}}",
	"attributes": {
		"text": {
			"type": "string",
			"source": "html",
			"selector": "div",
			"default": "This is a starter rich text block with deprecated code.  This block demonstrates how to use deprecations.  It can be a little tricky to set this up.  Edit this block in src/blocks/rich-text-block-with-deprecated/edit.js.  Checkout the deprecated code in src/blocks/rich-text-block-with-deprecated/deprecated.js."
		}
	},
	"editorScript": "file:../../../build/index.js",
	"style": "file:../../../build/style-index.css",
	"editorStyle": "file:../../../build/index.css",
	"supports": {

	}
}
