# github actions use this file to ignore files and directories when
# deploying plugins to the WordPress plugin directory
# if you'd like a file/directory to be ignore when your deploying your plugin add it here

/.wordpress-org
/.git
/.github
/node_modules
composer.json
composer.lock
package.json
package-lock.json
.editorconfig
.gitignore
README.md
.distignore
.wp-env.json
.htaccess
webpack.config.js
tailwind.config.js
postcss.config.js
bs-config.js
