/*!
 * Tailwind Styles
 *
 * Tailwind styles get applied and enqueued on both the front of your
 * site and in the editor.
 *
 * All styles get prepended with a custom namespace so Tailwind styles
 * don't bleed into the rest of the site.
 *
 * i.e. - If your plugin slug is 'test-test' then all Tailwind styles
 * will be prepended with [class*="test-test"].
 *
 * You can edit the prepended selector in the root postcss.config.js file
*/

/* @tailwind base; */

@tailwind components;

@tailwind utilities;
