{
	"name": "{{slug}}/rich-text-block-with-transforms",
	"title": "Rich Text Block with Transforms",
	"category": "{{slug}}",
	"attributes": {
		"content": {
			"type": "string",
			"source": "html",
			"selector": "p",
			"default": "This is a rich-text-block-with-transforms.  Edit this block in src/blocks/rich-text-block-with-transforms/edit.js.  See how the transforms work by going to src/blocks/rich-text-block-with-transforms/transforms.js.  Transforms are kinda tricky to setup, but this block will help get you started and make it a little easier."
		}
	},
	"editorScript": "file:../../../build/index.js",
	"style": "file:../../../build/style-index.css",
	"editorStyle": "file:../../../build/index.css",
	"supports": {

	}
}
