/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
// Escape forward slashes, otherwise they won't compile
// i.e. .w-1\/3 {}

.wp-block-{{slug}}-rich-text-block-with-transforms {
	// write editor only SASS here
}
