/**
 * External Dependencies
 */
import classnames from 'classnames';

/**
 * WordPress Dependencies
 */
import { __ } from '@wordpress/i18n';
import { InnerBlocks } from '@wordpress/block-editor';

/**
 * Internal Dependencies
 */

const Save = ( props ) => {
	const {
		attributes: {
			// put attributes here to use them
		},
	} = props;

	/* IMPORTANT - Wrapper classes get added to the outermost wrapper element.  If you use Fragment as wrapper then the wrapper classes don't get added to the block when saving! */

	return (
		<div>
			<div className={ '{{#noCssFramework}}inner-block-container{{/noCssFramework}}{{#tailwindcss}}bg-white rounded p-5{{/tailwindcss}}{{#bootstrap}}bg-white rounded p-5{{/bootstrap}}' }>
				<InnerBlocks.Content />
			</div>
		</div>
	);
}

export default Save;
